
:root{
    --main-subtitle-color: #2E2F42;
    --main-btn-color:#ffffff;
    --main-text-color:#434455;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  background: #E5E5E5;
}
.text{
    font-size: 16px;
    line-height: 1.5;
    /* or 150% */
    letter-spacing: 0.02em;
}
.subtitle{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.name{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;  
}

/*----------------------------------------------------------HEADER-------------*/
.header {
}
.header-novigation {
}

.header-logo {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
}
.header-logo{
    color: #2E2F42;
}
.logo-accent{
    color: #4D5AE5;
}
.link{
    text-decoration: none;
}



.header-list .header-link 
{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    /* identical to box height, or 150% */
    letter-spacing: 0.02em;
    /* NAVY BLUE */
    color: #2E2F42;
}
.header-list .header-link:hover,
.header-list .header-link:focus {color:#404BBF;}
.list{
    list-style: none;
}

.header-contacts {
}

.header-adress {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
/* SLATE */
color: #434455;
}
.header-adress:is(:hover,:focus)
{
    color: #404BBF;
}

.header-tel {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
/* identical to box height, or 150% */
letter-spacing: 0.02em;
/* SLATE */
color: #434455;
}
/*--------------------------------COMMERCIAL------------------------------*/
.commercial {

font-size: 56px;
line-height: 1.07;
/* or 107% */

letter-spacing: 0.02em;
color:#ffffff;
}


.btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 32px;
    gap: 10px;
    
   

background: #4D5AE5;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
letter-spacing: 0.04em;

color:var(--main-btn-color);
}
.btn:is(:hover,:focus)
{
    background: #404BBF;
}

.btn {
    cursor:pointer
}   



/*------------------------------PECULISRITIES--------------------*/
.peculiarities-list {
}
.peculiarities-item {
    
}
.peculiarities-subtitle {
color:var(--main-subtitle-color);
}

.peculiarities-text {
color:var(--main-text-color);
}
/*------------------------------------------BOING-----------------------*/
.boing{

}

.boing-subtitle {
color:var(--main-subtitle-color);
}

.boing-list {
}
.boind-item {
}
/*--------------------------------------------------TEAM---------------------------*/
.team{

}
.team-subtitle {
color:var(--main-subtitle-color);
}

.team-list {
}
.team-item {
}

.team-foto {
}

.team-surname {
color:var(--main-subtitle-color);
}

.team-text {
color:var(--main-text-color);
}
/*---------------------------------------------------FOOTER-----------------------*/
.footer {
position: absolute;
width: 1440px;
height: 310px;
background-color: #2E2F42;
}

.footer-logo {
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
}
.footer-text {
    color:#E7E9FC;
}
.footer-logo{
    color: #F4F4FD; 
}
.logo-accent{
    color: #4D5AE5;  
}
/*----------------------------------------Portfolio----------------------*/
.botton{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 12px 24px;

width: 69px;
height: 48px;

/* OCEAN */

background: #404BBF;
}
.button-list {
}
.list {
}
.gallery-list {
}
.gallery-item {
}
.gallery-subtitle {
}
.gallery-text {
}